.main{
    height: 110px;
    background: black;

    display: flex;
    padding-left: 75px;
    justify-content: flex-start;
    align-items: center;

    border-bottom-width: 4px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.link{
    color: lightgray;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
}


.link:hover{
    color: blue;
    font-size: 27px;
}




