.bl{
    display: flex;
    flex-direction: column;
    /* !!!!to space for main */
    height: 100vh;

}

header{
    height: 110px;
}

main{
    /* !!!!to space for main */
    flex: 1;

    width: 100%;
    justify-content: center;
    align-items: center;

    /* !!!!if you need see header and footer all the time */
    /*overflow-y: auto;*/
}

footer{

    height: 150px;






}


